h2,h1{
    margin: 4%;
    text-align: center;
    color: white;
}
p{
    background-color: white;
}

table{

    margin-top: 6%;
    
}
body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/727/4/1016/men-fitness-model-wallpaper-preview.jpg");
    background-size: cover;
}
.thead-dark{
    color: white;

}
tbody{
    color: white;
}
label{
    color: white;
}
.container{
    overflow: auto;
    width: 100%;
    height: 100%;
}
.button{
    border-radius: 50%;
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
   margin-left: 95%;
   margin-top: 10%; 
   text-decoration: none;
   position: absolute;
   bottom: 0.5rem;
   right: 0.5rem;
  
}
.button:hover {background-color: #3e8e41}